@model TeamCalendarApp.Models.EventType

@{
    ViewData["Title"] = "Edit";
}

<div id="mainBody" class="container">
    <h2>Edit Event Type</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EventTypeId" />
                <input type="hidden" asp-for="UserUpdated" value="@User.Identity.Name.Split('\\')[1]" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prefix" class="control-label"></label>
                    <input asp-for="Prefix" class="form-control" />
                    <span asp-validation-for="Prefix" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThemeColor" class="control-label"></label>
                    <select asp-for="ThemeColor" class="form-control">
                        <option value="Blue" style="background-color: blue; color: white;">Blue</option>
                        <option value="BlueViolet" style="background-color: blueviolet; color: white;">Blue Violet</option>
                        <option value="Brown" style="background-color: brown; color: white;">Brown</option>
                        <option value="CadetBlue" style="background-color: cadetblue; color: white;">Cadet Blue</option>
                        <option value="DarkCyan" style="background-color: darkcyan; color: white;">Dark Cyan</option>
                        <option value="DarkGreen" style="background-color: darkgreen; color: white;">Dark Green</option>
                        <option value="Dark Magenta" style="background-color: darkmagenta; color: white;">Dark Magenta</option>
                        <option value="DarkRed" style="background-color: darkred; color: white;">Dark Red</option>
                        <option value="DarkSlateBlue" style="background-color: darkslateblue; color: white;">Dark Slate Blue</option>
                        <option value="DarkSlateGray" style="background-color: darkslategray; color: white;">Dark Slate Gray</option>
                        <option value="DarkViolet" style="background-color: darkviolet; color: white;">Dark Violet</option>
                        <option value="Green" style="background-color: green; color: white;">Green</option>
                        <option value="Indigo" style="background-color: indigo; color: white;">Indigo</option>
                        <option value="Maroon" style="background-color: maroon; color: white;">Maroon</option>
                        <option value="MediumSlateBlue" style="background-color: mediumslateblue; color: white;">Medium Slate Blue</option>
                        <option value="MidnightBlue" style="background-color: midnightblue; color: white;">Midnight Blue</option>
                        <option value="Purple" style="background-color: purple; color: white;">Purple</option>
                        <option value="Olive" style="background-color: olive; color: white;">Olive</option>
                        <option value="SlateBlue" style="background-color: slateblue; color: white;">Slate Blue</option>
                        <option value="SteelBlue" style="background-color: steelblue; color: white;">Steel Blue</option>
                    </select>
                    <span asp-validation-for="ThemeColor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
