@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Calendar</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.print.css" media="print" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.min.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.print.min.css" media="print" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap.min.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top p-0 shadow" style="height: 50px;">
        <a class="navbar-brand col-sm-3 col-md-2 mr0" href="/home">
            <i class="fa fa-calendar"></i>
            Team Calendar
        </a>

        <div class="navbar-collapse collapse w-100" id="shellNavbar">
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item dropdown">
                    <button class="btn btn-primary dropdown-toggle" href="#" id="managementLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage
                    </button>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="managementLink">
                        <a class="dropdown-item" href="/DepartmentManagement/Index">Departments</a>
                        <a class="dropdown-item" href="/EventTypeManagement/Index">Event Types</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Users</a>
                    </div>
                </li>
                <li class="navbar-item align-middle text-white" style="padding: 5px;" id="welcomeText"></li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <nav class="navbar navbar-expand fixed-bottom navbar-dark bg-primary" style="height: 30px; padding-left: 5px;">
        <div class="small text-white-50 d-flex col-12 justify-content-center">Copyright &copy; @DateTime.Now.Year.ToString() - Attenti</div>
    </nav>

    <environment include="Development">
        <script src="~/lib/moment.js/moment.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/qtip2/jquery.qtip.js"></script>
        <script src="~/lib/popper.js/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-confirmation/bootstrap-confirmation.js"></script>
        <script src="~/lib/fullcalendar/fullcalendar.js"></script>
        <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/moment.js/moment.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/qtip2/jquery.qtip.min.js"></script>
        <script src="~/lib/popper.js/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
        <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
        <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    </environment>

    <script type="text/javascript">
        var user = null;

        $.ajax({
            type: "GET",
            url: "/api/users/@User.Identity.Name.Split('\\')[1]",
            success: data => {
                user = data;
                $('#welcomeText').html('Welcome, ' + user.firstName + ' ' + user.lastName + '!');

                if (!user.isManager && !user.isSiteManager) {
                    $('#manageDropDown').hide();
                }
            },
            error: error => {
                console.log(error);
            }
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
