@{
    User user = new User();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Calendar</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.print.css" media="print" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.min.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.print.min.css" media="print" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary fixed-top flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr0" href="/home">
            <i class="fa fa-calendar"></i>
            Team Calendar
        </a>
        <div class="collapse navbar-collapse container" id="navbarCollapse">
            <ul class="navbar-nav mr-auto" style="color: white;">
                <li class="nav-item">
                    <a href="#">
                        <i class="fa fa-users"></i><br />
                        Manage Users
                    </a>
                </li>
            </ul>
        </div>
        <p class="navbar-nav text-light" style="margin-right: 10px;" id="welcomeText">Welcome, @User.Identity.Name.Split("\\")[1]!</p>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/moment.js/moment.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/qtip2/jquery.qtip.js"></script>
        <script src="~/lib/popper.js/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-confirmation/bootstrap-confirmation.js"></script>
        <script src="~/lib/fullcalendar/fullcalendar.js"></script>
        <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/moment.js/moment.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/qtip2/jquery.qtip.min.js"></script>
        <script src="~/lib/popper.js/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
        <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
        <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $.ajax({
            type: "GET",
            url: "api/users/@User.Identity.Name.Split('\\')[1]",
            success: data => {
                $('#welcomeText').html("Welcome, " + data.firstName + " " + data.lastName + "!");
            },
            error: error => {
                console.log(error);
            }
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
