@{
    User user = new User();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Calendar</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.print.css" media="print" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.min.css" />
        <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.print.min.css" media="print" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary fixed-top flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr0" href="/home">
            <i class="fa fa-calendar"></i>
            Team Calendar
        </a>
        <p class="navbar-nav text-light" style="margin-right: 10px;" id="welcomeText">Welcome, @User.Identity.Name.Split("\\")[1]!</p>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">
                                <i class="fa fa-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/weeklystatus">
                                <i class="fa fa-tasks"></i>
                                Weekly Status
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reports">
                                <i class="fa fa-bar-chart"></i>
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/moment.js/moment.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/qtip2/jquery.qtip.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/fullcalendar/fullcalendar.js"></script>
        <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/moment.js/moment.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/qtip2/jquery.qtip.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
        <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $.ajax({
            type: "GET",
            url: "api/users/@User.Identity.Name.Split('\\')[1]",
            success: data => {
                $('#welcomeText').html("Welcome, " + data.firstName + " " + data.lastName + "!");
            },
            error: error => {
                console.log(error);
            }
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
