html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: .875rem;
    height: 100%;
}

[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.body-drop {
    margin-top: 4rem;
}

#legend {
    margin-top: 4rem;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

#calendar {
    margin-top: 1rem;
}

#mainBody {
    margin-top: 4rem;
}

body > .container-fluid {
    padding-top: 50px;
}

.container-fluid {
    padding: 0;
}

.main-content {
    padding: 20px;
}

/** Legend **/
fieldset {
    font-family: sans-serif;
    border: 5px solid #1F497D;
    background: #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 1px;
}

.circle {
    width: 10px;
    border-radius: 100%;
}

/* Side Navigation Bar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -100%; /* 12 columns */
    }

    .row-offcanvas-right.active
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -100%; /* 12 columns */
    }

    .row-offcanvas-left.active
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}